<html>
<head>
    <meta charset="UTF-8">
    <title>Matches for {{.FileName1}} and {{.FileName2}}</title>
    <script src="codemirror/lib/codemirror.js"></script>
    <link rel="stylesheet" href="codemirror/lib/codemirror.css">
    <script src="codemirror/mode/javascript/javascript.js"></script>
</head>
<body>
<div class="top">
    <div class="banner">
        <span>{{.FileName1}} | {{.FileName2}}</span>
    </div>
</div>
<div class="bottom">
    <div class="leftCode">
        <span>{{.FileName1}}:</span>
        {{range .DuplicateLines}}<span>line {{.LineRange1.Begin}}-{{.LineRange1.End}}</span>{{end}}
        <div id="leftCodeMirror"></div>
    </div>
    <div class="rightCode">
        <span>{{.FileName2}}:</span>
        {{range .DuplicateLines}}<span>line {{.LineRange2.Begin}}-{{.LineRange2.End}}</span>{{end}}
        <div id="rightCodeMirror"></div>
    </div>
</div>
</body>
<style>
    .top {
        height: 5%;
        /*background: #ec6c99;*/
    }
    .leftCode {
        float: left;
        width: 50%;
        /*background: #66ccff;*/
        min-height: 90vh;
    }
    .rightCode {
        margin-left: 50%;
        /*background: #ccffcc;*/
        min-height: 90vh;
    }
    .highlightCode {
        color: red;
    }
</style>
<script>
    let leftCodeMirror = CodeMirror(document.getElementById("leftCodeMirror"), {
        value: {{.Code1}},
        mode: "cpp",
        lineNumbers: true,
        readOnly: true,
    });

    {{range .DuplicateLines}}
    leftCodeMirror.markText({line:{{.LineRange1.Begin}},ch:0},{line:{{.LineRange1.End}},ch:0}, {
        className: "highlightCode",
        readOnly: true,
    });
    {{end}}

    let rightCodeMirror = CodeMirror(document.getElementById("rightCodeMirror"), {
        value: {{.Code2}},
        mode: "cpp",
        lineNumbers: true,
        readOnly: true
    });

    {{range .DuplicateLines}}
    rightCodeMirror.markText({line:{{.LineRange2.Begin}},ch:0},{line:{{.LineRange2.End}},ch:0}, {
        className: "highlightCode",
        readOnly: true,
    });
    {{end}}
</script>
</html>
