<html>
<head>
    <meta charset="UTF-8">
    <title>Duplicate File Summary</title>
</head>
<body>
{{range .}}
<p>{{.FileName1}} - {{.FileName2}} | {{.DuplicateRate}}%</p>
{{end}}
</body>
<style>
</style>
</html>
