<html>
<head>
    <meta charset="UTF-8">
    <title>Duplicate File Summary</title>
</head>
<body>
{{range .}}
<a href="{{.FileName1}}-{{.FileName2}}.html">{{.FileName1}} - {{.FileName2}} | {{.DuplicateRate}}%</a>
<br>
{{end}}
</body>
<style>
</style>
</html>
